/* WORDCAMP MIAMI 2017 EXTERNAL CSS */
/* David Bisset */

li#menu-item-1938 {
	background-color: #1cab2a;
}

body.page-template-default #primary header.entry-header {
	float: none !important;
	width: 100% !important;
}
body.page-template-default #primary div.entry-content {
	float: none !important;
	width: 100% !important;
}

#tix-errors .tix-error {
	background: none;
	color: #ff5353;
}

.tix-ticket-form th, .tix-attendee-form th, .tix-private-form th, .tix-receipt-form th {
	font-weight: 200;
}
.tix_tickets_table label {
	font-weight: 200;
}
.tix_tickets_table select,
.tix_tickets_table input {
	padding: 5px 9px;
	height: auto;
}
.tix_tickets_table input[type=checkbox],
.tix_tickets_table input[type=radio] {
	margin-right: 5px;
}
	
.tix-right br {
	display: none;
}


footer.entry-footer {
	background-color: transparent;
}
footer.entry-footer .cat-tags-links {
	color: #fff !important;
}

body.home #panel2 .wcorg-sponsor-level-community div.wcorg-sponsor .wcorg-sponsor-description img {
    display: none !important;
}

body.home #panel2 .wcorg-sponsor-level-community div.wcorg-sponsor h3 {
    display: inline-block !important;
	font-size: 13px !important;
	font-weight: normal !important;
}
body.home #panel2 .wcorg-sponsor-level-community div.wcorg-sponsor h3 a {
    color: #333 !important;
	font-size: 13px !important;
}
body.home #panel2 .wcorg-sponsor-level-community div.wcorg-sponsor h3 a:hover {
    color: #999 !important;
}

body.page-slug-sponsors .wcorg-sponsors img {
	background-color: #fff !important;
}
body.page-slug-sponsors .wcorg-sponsor-level-community .wcorg-sponsor-description img {
	display: none !important;
}
.wcorg-organizer img.avatar-default {display:none !important;}

.tix-notice {
    background: lightYellow;
    border: solid 1px #E6DB55;
    color: #2d052f;
}

.home #panel1 .wrap .entry-content {
	display: none;
}
.page .wrap .entry-content, 
.post .wrap .entry-content {
	background-color: #fff;
	padding: 20px;
}
.page .wrap .entry-content,
.post .wrap .entry-content {
	color: #333;
}
.page .wrap .entry-content a,
.post .wrap .entry-content a {
	color: #069;
}
.page .wrap .entry-content a:hover,
.post .wrap .entry-content a:hover {
	color: #9E00A6;
}

.page .wrap .entry-content h1,
.post .wrap .entry-content h1,
.page .wrap .entry-content h2,
.post .wrap .entry-content h2,
.page .wrap .entry-content h3,
.post .wrap .entry-content h3,
.page .wrap .entry-content h4,
.post .wrap .entry-content h4 {
	color: #222;
}

body.page-slug-sponsors .wcorg-sponsor-level-gold h2, 
body.page-slug-sponsors .wcorg-sponsor-level-silver h2, 
body.page-slug-sponsors .wcorg-sponsor-level-bronze h2, 
body.page-slug-sponsors .wcorg-sponsor-level-local-featured h2, 
bbody.page-slug-sponsors .wcorg-sponsor-level-community h2 {
	width: 100%;
	margin-bottom: 10px;
}

body.page-slug-sponsors .wcorg-sponsor-level-gold h2 {
	color: #fff;
	background: #cfb53b;
	padding: 10px 15px;
}
body.page-slug-sponsors .wcorg-sponsor-level-silver h2 {
	color: #fff;
	background: #c0c0c0;
	padding: 10px 15px;
}
body.page-slug-sponsors .wcorg-sponsor-level-local-bronze h2 {
	color: #fff;
	background: #8c7853;
	padding: 10px 15px;
}
body.page-slug-sponsors .wcorg-sponsor-level-local-featured h2 {
	color: #fff;
	background: #54a6d8;
	padding: 10px 15px;
}
body.page-slug-sponsors .wcorg-sponsor-level-local-community h2 {
	color: #fff;
	background: #83e2c7;
	padding: 10px 15px;
}
